@font-face {
  font-family: yekan;
  src: url(../../fonts/iranyekanwebbold.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box !important;
}

* :not(i) {
  /* font-family: yekan !important; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ---------------------------------extra Large(xl)------------------------------------------------------------------
------------------------------------more than 1200px----------------------------------------------------------------- */

@media screen and (min-width: 1200px) {
}

/* ---------------------------------Large(lg)------------------------------------------------------------------
------------------------------------more than 992px----------------------------------------------------------------- */

@media screen and (min-width: 992px) {
}

/* ---------------------------------Medium(md)------------------------------------------------------------------
------------------------------------more than 768px----------------------------------------------------------------- */
@media screen and (min-width: 768px) {
}

/* ---------------------------------Small(sm)------------------------------------------------------------------
------------------------------------more than 576px-----------------------------------------------------------------
 */
@media screen and (min-width: 576px) {
}

/* ---------------------------------extra small(xs)------------------------------------------------------------------
------------------------------------less than 576px-----------------------------------------------------------------
 */
@media screen and (max-width: 576px) {
}
